{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
AmphiProt
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{{ url_for('loging') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
      <form class="form" method=POST>
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.PDB_id) }}
          {{ wtf.form_field(form.UniProt_id) }}
          {{ wtf.form_field(form.sequence) }}
          {{ wtf.form_field(form.file) }}
          {{ wtf.form_field(form.table) }}
          {{ wtf.form_field(form.BLAST) }}
          {{ wtf.form_field(form.isoelectric) }}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>

    </div><!-- /.container -->
{% endblock %}
